[Desktop Entry]
Categories=System;Monitor;
Comment[en_GB]=
Comment=
Exec=conky --daemonize --pause=1
GenericName[en_GB]=
GenericName=
Icon=conky-logomark-violet
MimeType=
Name[en_GB]=conky
Name=conky
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
